body {
	font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;	
        font-size: 0.9em;   
	margin: 0;
	padding: 0;
	background-color: #ddddbb;
}

#header {
	background-color: #fff;
	height: 90px;
}
#header img {
	border: 0;
	vertical-align: middle;
}
#header-logo {
	/* position is offset by the header padding amount */
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
}
#header-items {
	/* position is offset by the header padding amount */
	position: absolute;
	right: 10px;
	top: 30px;
	text-align: right;
	display: inline;
}
#header-items a {
	color: #000;
	text-decoration: none;
	padding: 7pt;
	font-size: 0.8em;
}
#header-items a:hover, #fedora-header-search-button:hover {
	color: #f20;
	cursor: pointer;
}
#header-items img {
	margin-right: 1px;
	width: 36px;
	height: 36px;
}

#nav {
	margin: 0;
	padding: 0;
	background-color: #99AA77;
	font-size: 0;
	height: 5px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #99AA77;
}

#side-left {
	position: absolute;
	z-index: 2;
	width: 11em;
	left: 12px;
	top: 2px;
	margin-top: 107px;
	color: #777744;
	font-size: 0.9em;
}

#side-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #ccccbb;
	border-top: 0;
	background-color: #CCDDAA;
}

#side-nav li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #ccccbb;
	border-bottom: 1px solid #ccccbb;
}

#side-nav a {
	font-weight: normal;
	margin: 0;
	color: #777744;
	display: block;
	text-decoration: none;
	padding: 4px 6px;
}

#side-nav a:hover {
	background-color: #99AA77;
	color: #fff;
}

#side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#side-nav strong a {
	font-weight: normal;
	color: #fff !important;
	background-color: #99AA77;
}

#side-nav b a {
	font-weight: bold;
}

#side-nav strong a:hover {
	background-color: #778855 !important;
}

#side-nav ul li {
	background-color: #eec;
	border-top: 0;
	border-bottom:0;
}

#side-nav ul li a {
	padding-left: 12px;
}

#footer {
	font-size: 0.75em;
	text-align: center;
	color: #777744;
	margin-bottom: 2em;
}

#middle-two {
	    /*	font-size: 0.9em;*/
	width: auto;
	min-width: 120px;
	margin: 0px;
	margin-top: 12px;
	z-index: 3; 
	margin-left: 11em;
	margin-right:12px;
	padding-left: 24px;
}

#content {
	padding: 0.3em 1.5em;
	border: 1px solid #c8c8b0;
	background-color: #eeeedd;
	color: #553300;
}

a:link, a:visited {
	font-weight : bold; 
	text-decoration : none;
	color: #9a7;
	background: transparent; 
	}

a:hover {
	font-weight : bold; 
	text-decoration : none;
	color: #530;
	background: transparent; 
	}

a:active {
	font-weight : bold; 
	text-decoration : none;
	color: #9a7;
	background: transparent;  
	}


div.description-element table.table-element {
	width: 100%;	
	border-spacing: 0;
	color: #000;
	background: #eec;
	margin: 1em 0 0 0;
		border: 1px solid #ccb;
	}

div.description-element table.table-element tr.titre td{
	/*	border: 1px solid #ccb;	*/
	color: #ffe;
	background: #9a7;
}

div.description-element table.table-element td {
	/*	border: 1px solid #ccb; */
	background-color: #eec;
	color: #000000;
/*	padding: 0.5em;
	margin-bottom: 0.5em; 
	margin-top: 2px;*/
}

div.table-niveaux table {
	width: 95%;	
	border-spacing: 0;
	color: #000;
	background: #eec;
	margin: 1em 0 0 0;
	border: 1px solid #000;	
	}

div.table-niveaux table tr {
	border: 1px solid #000;	
}

div.table-niveaux table tr td.niveau {
	/*	border: 1px solid #ccb;	*/
	font-weight: bold;
	color: #ffe;
	background: #9a7;
	text-align: center;
	padding: 0 10px; 
}

div.table-niveaux table tr td {
	/*	border: 1px solid #ccb; */
	background-color: #eec;
	color: #000000;
	padding: 10px 10px; 
/*	padding: 0.5em; */
/*	margin-bottom: 0.5em; */
/*	margin-top: 2px;*/
	border: 1px solid #000;	
}

div.table table {
	width: 100%;	
	border-spacing: 0;
	color: #000;
	background: #eec;
	margin: 1em 0 0 0;
	}

div.table table th {
	border: 1px solid #ccb;	
/*	background-color: #eec;*/
/*	color: #000000;*/
	color: #ffe;
	background: #9a7;
}

div.table table td {
	border: 1px solid #ccb; 
	background-color: #eec;
	color: #000000;
/*	padding: 0.5em;*/
/*	margin-bottom: 0.5em; */
/*	margin-top: 2px;*/
}

blockquote	{
	padding: 0;
	padding-left: 10px;
	margin-left: 10px;
	border: 0;
	border-left: 1px dotted #9a7;
	}

blockquote p	{
	font-weight: normal;
	font-family: Georgia, "New Century Schoolbook", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
	text-align: justify;
	line-height: 150%;
	font-size: small;
	}

div.toutpanel	{
	background: #eec; 
	border: 1px dotted #ccb; 
	margin: 10px 0 10px 0;
	padding: 0 10px; 
	}

div.code { display: none; visibility: hidden; }

pre	{
	font-family: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace;
	font-weight: normal;	
	font-size: small;
	background: #eec; 
	border: 1px dotted #ccb; 
	margin: 10px 0 10px 0;
	padding: 0 10px; 
	}

h3.titreoffre {
	font-weight: bold;
	text-align: center;
}

div.offre {
        border: 1px dotted #000;
        margin: 10px 0 10px 0;
        padding: 0 10px; 
	}

div.offre dl dd p.valeur {
	background: #eec; 
	border: 1px dotted #ccb; 
	margin: 10px 0 10px 0;
	padding: 0 10px; 
	}

div.offre dl dd p {
	margin: 10px 0 10px 0;
	padding: 0 10px; 
	}

div.offre dl dt {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border: 0;
	border-bottom: 1px solid #cca;
	line-height: 140%;
	}

code	{
	font-family: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace;
	font-weight: normal;
	font-size: small;
	}

h2, h3, h4	{
	font-weight: bold;
	line-height: 1.2em;
	margin: 15px 0 0 0;
	}

p	{
	/*margin: 0 0 1em 0;*/
	line-height: 140%;
	}


dd.nouvelle {
        border: 1px dotted #000;
        margin: 10px 0 10px 0;
        padding: 0 10px; 
	}
	

dt.nouvelle {
	font-weight: bold;	    
	}

div.mainCell {
	border: 1px solid #000;	
}
